@charset "UTF-8";

body{
    margin:0 auto;
    width:92%;
    background-color: rgb(229, 246, 253);
}

h1{
    border-bottom: 1px solid hsl(161, 89%, 14%);
    padding-bottom: 20px;
}

.head{
    display:block;
    margin:0 auto;
    max-width:600px;
    height:auto;
    width:100%;
}

.usage{
    margin-top: 30px;
    margin-bottom: 50px;
}

.usage p{
    margin-left:20px;
}

.stage{
    margin-left:5%;
    margin-top:30px;
    margin-bottom:20px;
}

.search > div{
    display: flex;
    gap:25px;
    align-items:center;
    width:170px;
    margin-bottom:20px;
}

.box{
    padding: 8px;
    border-radius: 4px;
}

.index{
    margin-top:20px;
    background-color: hsl(230, 86%, 59%);
    color: #fff;
    border: none;
    padding: 8px 30px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.2);
}

.index:hover{
    background-color: hsl(230, 80%, 40%);
}

button:active{
    position: relative;
    top: 2px;
}

.clearbutton{
    width:80px;
    padding:5px 10px;
    margin-left:20px;
    white-space:nowrap;
}

.introduce{
    border-top:1px solid black;
    margin-top:180px;
}

.person{
    border: 1px solid hsl(150, 4%, 9%);
    border-radius: 5px;
    margin:40px auto;
    width:90%;
    display: flex;
    background:#fff;
}

.person-body{
    margin-left:8px;
}

aside p{
    margin:2px;
}

aside h3{
    margin:7px 0 ;
}

.icon{
    border-radius: 50%;
    margin: 15px;
    width: 70px;
    height: 70px;
    flex-shrink:0;
    object-fit: cover;
}

.result{
    margin-top: 30px;
    max-width:700px;
    padding: 20px;
    border: 1px solid hsl(150, 4%, 9%);
    border-radius: 5px;
    background:#fff;
}

.chapter-number{
    font-size: 19px;
    margin-bottom: 10px;
    font-weight: bold;
}

.stage-number{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.enemieslist{
    border-top:1px solid black;
}

.result-stage{
    margin-bottom:10px;
}

.search-mode{
    margin-bottom:20px;
}

label{
    margin-right:20px;
}

.selected-enemy{
    color:red;
    font-weight:bold;
}

.energy{
    float:right;
    margin-right:10px;
}

@media(max-width:600px){
    .result{
        margin:30px auto 0;
    }
}

@media(max-width:500px){
    .energy{
        float:none;
        margin:0 auto;
    }
}